@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background: url("images/bg-desktop.svg") no-repeat ;
    background-size: cover;
    background-color: hsl(257, 40%, 49%);
}

main{
    margin:40px 40px 0 80px;
}

.logo{
   width: 150px;
   height: auto;
   margin-bottom: 70px;
}

.content{
    display: flex;
}

.mockups{
    width: 48%;
    height: auto;
}

.text{
    margin-left: 60px;
    margin-top: 40px;
    color: white;
}

.text h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.text p{
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 30px;
}

.btn{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color: white;
    color: hsl(257, 40%, 49%);
    width: fit-content;
    padding: 16px 60px;
    border-radius: 30px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.705);
}

.btn:hover{
    background-color: hsl(300, 69%, 71%);
    color: white;
}

.media{
    display: flex;
    justify-content: end;
}

i{
	height: 30px;
	width: 30px;
	margin: 0 10px 10px 0;
    padding-top: 5px;
    border: 1px solid white;
	border-radius: 50%;
	color: #ffffff;
}

.media a{ 
    text-align: center;
}

i:hover{
    color:hsl(300, 69%, 71%) ;
    border: 1px solid hsl(300, 69%, 71%);
}

.attribution {
    margin-bottom: 5px;
    font-size: 11px;
    text-align: center; 
    color: white;
}
.attribution a {
    color: hsl(300, 69%, 71%);
    text-decoration: none;
}

@media screen and (max-width:550px) {
    .content{
        flex-direction:column;
    }

    main{
        margin-left: 30px;
    }

    .mockups{
        width: 100%;
    }

    .content{
        text-align: center;
    }

    .text{
        margin-left: 0;
    }

    .text h1{
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 1.7em;
    }

    p br{
        display: none;
    }

    .btn{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
        padding: 10px 70px;
    }

    .media{
        justify-content: center;
    }
}